<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description"
        content="Modern admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities with bitcoin dashboard.">
    <meta name="keywords"
        content="admin template, modern admin template, dashboard template, flat admin template, responsive admin template, web app, crypto dashboard, bitcoin dashboard">
    <meta name="author" content="PIXINVENT">
    <title>@ViewData["Title"] &middot; Trioklinik Otomasyon</title>
    @* <link rel="apple-touch-icon" href="~/app-assets/images/ico/apple-icon-120.png">
        <link rel="shortcut icon" type="image/x-icon" href="~/app-assets/images/ico/favicon.ico"> *@
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i%7CQuicksand:300,400,500,700"
        rel="stylesheet">

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/material-vendors.min.css">
    @await RenderSectionAsync("VendorCSS", false)
    <!-- END: Vendor CSS-->

    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/bootstrap-extended.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/colors.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/components.css">
    @await RenderSectionAsync("ThemeCSS", false)
    <!-- END: Theme CSS-->

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/core/menu/menu-types/horizontal-menu.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/core/colors/palette-gradient.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/plugins/animate/animate.css">
    @await RenderSectionAsync("PageCSS", false)
    <!-- END: Page CSS-->

    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
    @await RenderSectionAsync("CustomCSS", false)
    <!-- END: Custom CSS-->

</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body
    class="horizontal-layout horizontal-menu horizontal-menu-padding material-horizontal-layout material-layout 2-columns  "
    data-open="click" data-menu="horizontal-menu" data-col="2-columns">

    <!-- BEGIN: Header-->
    @await Component.InvokeAsync("LayoutHeader")
    <!-- END: Header-->

    <!-- BEGIN: Main Menu-->
    @await Component.InvokeAsync("LayoutMainMenu")
    <!-- END: Main Menu-->

    <!-- BEGON: Alert-->
    @await Component.InvokeAsync("LayoutAlert")
    <!-- END: Alert-->

    <!-- BEGIN: Content-->
    <div id="main" class="mt-2">
        @RenderBody()
    </div>
    <!-- END: Content-->

    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <!-- BEGIN: Footer-->
    @await Component.InvokeAsync("LayoutFooter")
    <!-- END: Footer-->


    <!-- BEGIN: Vendor JS-->
    <script src="~/app-assets/vendors/js/vendors.min.js"></script>
    @await RenderSectionAsync("VendorJS", false)
    <!-- BEGIN Vendor JS-->

    <!-- BEGIN: Page Vendor JS-->
    <script src="~/app-assets/vendors/js/ui/jquery.sticky.js"></script>
    @await RenderSectionAsync("PageVendorJS", false)
    <!-- END: Page Vendor JS-->

    <!-- BEGIN: Theme JS-->
    <script src="~/app-assets/js/core/app-menu.js"></script>
    <script src="~/app-assets/js/core/app.js"></script>
    @await RenderSectionAsync("ThemeJS", false)
    <!-- END: Theme JS-->

    <!-- BEGIN: Page JS-->
    <script src="~/app-assets/js/scripts/animation/animation.js"></script>
    @await RenderSectionAsync("PageJS", false)
    <!-- END: Page JS-->

    <!-- BEGIN: Font Awesome JS-->
    <script src="https://kit.fontawesome.com/f783422807.js" crossorigin="anonymous"></script>
    <!-- END: Font Awesome JS-->

    <!-- BEGIN: Custom JS-->
    @await RenderSectionAsync("CustomJS", false)
    <!-- END: Custom JS-->

</body>
<!-- END: Body-->

</html>